body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.menu {
    background: linear-gradient(to right, #007BFF, #6F2CF6);
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
}

.menu a {
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
}

.menu a:hover {
    color: #d4d4d4;
}

main {
    text-align: center;
    padding: 2rem;
}

.card img {
    width: 50%;
    height: 50%;
    object-fit: cover;
    border-radius: 8px;
}

.card-title {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #333;
}

.card-body img {
   
    transition: transform 0.3s ease;
}

.card-body img:hover {
    transform: scale(1.05); /* Aumenta ligeramente el tamaño al pasar el mouse */
}

footer { 
    background: linear-gradient(to right, #007BFF, #6F2CF6);
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}